# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Database
*.db
*.sqlite3

# Large files
*.zip
*.mp4
*.pt
*.model

# videos
*.mp4
*.mkv

# pdf books
*.pdf

# database
*.db
*.sqlite3

# uploads
uploads/